.combo {
    width: inherit;
    min-width: 100%;
    max-height: 190px;
    display: block;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999; 
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    animation-duration: $animation-duration;
}